* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: black;
    color: white;
}

img{
    width: 100%;
    height: auto;
}

.grid-item {
    width: 200px;
}


header {
   display: flex;
   justify-content: flex-end;
}

.nav-bar {
    display: flex;

}

.anim-grid {
    display: flex;
}